.chat-main
  .chat-main__group-info
    .info-left
      .group-name
        = @group.name
      .member-list
        Member:
        %ul
          - @group.users.each do |user|
            %li= user.name
    = link_to edit_group_path(@group), class: "edit-button" do
      Edit

  .message__field
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .type-message
        = f.text_field :content, class: 'text', placeholder: 'type a message'
        = f.label :image, class: 'image' do
          = icon('far', 'image', class: 'icon')            
          = f.file_field :image, class: 'hidden'        
        = f.submit 'Send', class: 'submit'
      
  