.side-bar
  
  .side-bar__user-name
  
    .top-items
    
      %h3.top-items__name
        = current_user.name

      %ul.top-items__icons
        %li.btn1
          = link_to "/groups/new" do
            = icon('far', 'edit')
        %li.btn1
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
        
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name

          .group__message
            = group.show_last_message
    
  