.side-bar
  .side-bar__user-name
    .top-items
    
      .top-items__name
        = current_user.name

      .top-items__icons
        = link_to "/groups/new", class: "btn1" do
          = icon('far', 'edit')
          %span
        = link_to edit_user_path(current_user), class: "btn2" do
          = icon('fas', 'cog')
        
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
          = group.name

          .group__message
            まだメッセージがありません
    
    .group

      .group__name
        techcamp

      .group__message
        まだメッセージがありません
    
    .group

      .group__name
        techcamp

      .group__message
        まだメッセージがありません
  